<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" integrity="sha256-GHW2S7IZAQe8+YkyL99LyDj1zdWXSPOG+JZafCtKiSc=" crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'seasport/dist/all.min.css' %}">
    <title>{% block title %}{{metaTitle}}{% endblock %}</title>
</head>
<body>

<div class="header">
    <ul class="wrapper-general">
        <li>
            <a href="#">LOGO HERE..</a>
            <a href="{% url 'front-home' %}">Home</a>
            <a href="#">About KayakManager</a>
            <a href="#">Pricing</a>
            <a href="#">Contact</a>
            <a href="{% url 'users-all' %}">Backend Login</a>
            <div class="clear"></div>
        </li>
    </ul>
</div>

<div class="wrapper wrapper-general">