<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" integrity="sha256-GHW2S7IZAQe8+YkyL99LyDj1zdWXSPOG+JZafCtKiSc=" crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'seasport/dist/all.min.css' %}">
    <title>{% block title %}{{metaTitle}}{% endblock %}</title>
</head>
<body>

<div class="header">
    <div class="wrapper-general">
        <div class="row">
            <div class="col-xs-3 logo-div">
                <a href="{% url 'front-home' %}" class="logo-text">
                    <img src="{% static 'seasport/img/logo-to.png' %}" class="logo" />
                    KayakManager
                </a>
            </div>
            <div class="col-xs-6 link-div center">
                <a href="{% url 'front-home' %}">Home</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">About KayakManager</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">Pricing</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">Testimonials</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="#">Contact</a>
            </div>
            <div class="col-xs-3">
                <a href="{% url 'users-all' %}" class="backend-login">
                    <span class="glyphicon glyphicon-lock"></span>
                    Log in
                </a>
                <div class="flag-container">
                    <img src="{% static 'seasport/img/danish-flag.png' %}" class="header-lang-flag pull-right" />
                    <img src="{% static 'seasport/img/english-flag.png' %}" class="header-lang-flag pull-right" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-general">