{% load widget_tweaks %}
{% load static %}

{% if request.POST and error %}
    <div class="alert alert-danger" role="alert">
        {% for name, message in error_messages.items %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

{% if request.POST and not error %}
    <div class="alert alert-success" role="alert"><p>{{ success_message }}</p></div>
{% endif %}

<form method="POST" name="update-boat-form" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-wrapper">
        <label for="name">Navn på båd:</label>
        <input id="name" name="name" placeholder="navn på båd.." value="{% if request.POST %}{{ request.POST.name.strip }}{% else %}{{ boat.name.strip }}{% endif %}" />
    </div>
    <input type="hidden" value="{{ boat.id }}" name="id" />
    <input type="submit" value="Submit" />
</form>