{% load widget_tweaks %}

{% if BoatForm.errors %}
    {% for key, value in BoatForm.errors.items %}
        {% for error in value %}
         <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <br />
{% endif %}

{% if Valid == 1 %}
    <div class="alert alert-success" role="alert"><p>{{ SuccessMessage }}</p></div>
{% endif %}

<form method="POST" name="update-user-form" novalidate>
    {% csrf_token %}
    <div class="input-wrapper">
        <label for="{{ BoatForm.first_name.id_for_label }}">Fornavn:</label>
        {{ BoatForm.first_name|add_error_class:"error-border" }}
    </div>
    <div class="input-wrapper">
        <label for="{{ BoatForm.last_name.id_for_label }}">Efternavn:</label>
        {{ BoatForm.last_name|add_error_class:"error-border" }}
    </div>
    <div class="input-wrapper">
        <label for="{{ BoatForm.email.id_for_label }}">Email:</label>
        {{ BoatForm.email|add_error_class:"error-border" }}
    </div>
    <input type="submit" value="Submit" />
</form>