{% load widget_tweaks %}
{% load static %}

{% if BoatForm.errors %}
    {% for key, value in BoatForm.errors.items %}
        {% for error in value %}
         <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <br />
{% endif %}

{% if Valid == 1 %}
    <div class="alert alert-success" role="alert"><p>{{ SuccessMessage }}</p></div>
{% endif %}

<form method="POST" name="update-boat-form" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-wrapper">
        <label for="{{ BoatForm.name.id_for_label }}">Navn på båd:</label>
        {{ BoatForm.name|add_error_class:"error-border" }}
    </div>
    {% if BoatForm.image %}
        <div class="input-wrapper">
            <label for="{{ BoatForm.image.id_for_label }}">Upload et billede af båden:</label>
            {{ BoatForm.image|add_error_class:"error-border" }}
        </div>
    {% endif %}
    <input type="submit" value="Submit" />
    {% if BoatForm.instance.image.url != '' %}
        <br />
        <img src="{% static '/' %}{{ BoatForm.instance.image.url }}" style="width:25%; margin-top:30px;" />
    {% endif %}
</form>