{% extends "seasport/base-full-width.html" %}

{% block title %}{{metaTitle}}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" style="padding-top:15px;">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="home-info-box content">
                        <h4>For users</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="home-info-box content">
                        <h4>For owners</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="home-info-box content">
                        <h4>Connect</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="home-info-box content">
                        <h4>Socialize</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="padding-top:15px;">
            <div class="content">
                <h3>Easy to use and cheapest system on the market</h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}