{% extends "seasport/base-full-width.html" %}

{% load static %}

{% block title %}{{metaTitle}}{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row" style="margin-top:15px;">
        <div class="col-xs-12">
            <div class="content home-top-box">
                <h1>Kayaking</h1>
                <h3>(It just became easier and smarter)</h3>

                <div class="home-top-inner-box-border"></div>

                <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <div class="content image-container">Log in to <i>KayakManager</i></div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="content image-container">Choose a boat & set the time of your trip</div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="content image-container">Save & go sailing!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:15px; padding:15px 15px 0px 15px;">

        <h1 class="center">Wait. There is a lot more than that.</h1>
        <br />

        <div class="col-xs-12 col-md-4">
            <div class="home-info-box content">
                <h4>For members</h4>
                <ul>
                    <li>Book a boat</li>
                    <li>Log your trip</li>
                    <li>See previous trips/statitics</li>
                    <li>Contact other members</li>
                    <li>Create open/groups</li>
                    <li>Get alerts</li>
                </ul>
                <a href="#">See the full feature list</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="home-info-box content">
                <h4>For administrators</h4>
                <ul>
                    <li>Create & edit members</li>
                    <li>Contact/email members</li>
                    <li>Contact/email other clubs</li>
                    <li>Write shared messages to all members</li>
                    <li>Arrange club events</li>
                    <li>Handle payments</li>
                </ul>
                <a href="#">See the full feature list</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="home-info-box content">
                <h4>Socialize</h4>
                <ul>
                    <li>Post trip to Facebook wall (with image)</li>
                    <li>Post to club Facebook wall</li>
                    <li>Write on club Facebook wall</li>
                    <li>Write on club Facebook wall</li>
                    <li>Write on club Facebook wall</li>
                </ul>
                <br />
                <a href="#">See the full feature list</a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:30px;">
        <div class="col-xs-12">
            <div class="home-import-box center">
                <div class="border"></div>
                <br />
                <h1>Existing member data? No problem.</h1>
                <h3>We set you up - Free of charge.</h3>
                <p>
                    All we need is what is easiest for you to provide.
                    One of the below formats will work:
                </p>
                <table>
                    <tbody>
                        <tr>
                            <td><img src="{% static 'seasport/img/database-icon.png' %}" class="home-import-type-icon" /></td>
                            <td><p>SQL dump of your existing users and boats</p></td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'seasport/img/csv-icon.png' %}" class="home-import-type-icon" /></td>
                            <td><p>CSV file of your existing users and boats</p></td>
                        </tr>
                        <tr>
                            <td><img src="{% static 'seasport/img/excel-icon.png' %}" class="home-import-type-icon" /></td>
                            <td><p>EXCEL file of your existing users and boats</p></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div class="border"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="content">
                <h3 class="center"><i>It's simply just easy to use.</i></h3>
                <br />
            </div>
        </div>
    </div>

</div>

{% endblock %}