{% extends "seasport/base-full-width.html" %}

{% block title %}{{metaTitle}}{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row" style="margin-top:15px;">
        <div class="col-xs-12">
            <div class="content home-top-box">
                <h1>Kayaking</h1>
                <h3>(It just became easier and smarter)</h3>

                <div class="home-top-inner-box-border"></div>

                <div class="row">
                    <div class="col-xs-12 col-lg-4">
                        <div class="content image-container">Log in to <i>KayakManager</i></div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="content image-container">Choose a boat & set the time of your trip</div>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <div class="content image-container">Save & go sailing!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:15px; padding:15px 15px 0px 15px;">

        <h1 class="center">Wait. There is a lot more.</h1>
        <br />

        <div class="col-xs-12 col-md-4">
            <div class="home-info-box content">
                <h4>For members</h4>
                <ul>
                    <li>Book a boat</li>
                    <li>Log your trip</li>
                    <li>See previous trips/statitics</li>
                    <li>Contact other members</li>
                    <li>Create groups</li>
                </ul>
                <a href="#">See the full feature list</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="home-info-box content">
                <h4>For administrators</h4>
                <ul>
                    <li>Create & edit members</li>
                    <li>Contact/email members</li>
                    <li>Contact/email other clubs</li>
                    <li>Arrange club events</li>
                    <li>Handle payments</li>
                </ul>
                <a href="#">See the full feature list</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="home-info-box content">
                <h4>Socialize</h4>
                <ul>
                    <li>Post trip to Facebook wall (with image)</li>
                    <li>Write on club Facebook wall</li>
                    <li>Write on club Facebook wall</li>
                    <li>Write on club Facebook wall</li>
                    <li>Write on club Facebook wall</li>
                </ul>
                <a href="#">See the full feature list</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="content">
                <h3 class="center">Easy to use and cheapest system on the market</h3>
            </div>
        </div>
    </div>

</div>

{% endblock %}