$red-color: tomato;

/* Forms */
$form-input-border-color: 1px solid #CCC;
$form-input-error-border-color: 1px solid #900;
$form-input-padding: 10px !important;
$form-input-select-padding: 5px !important;