{% extends "rokort/base.html" %}
{% load static %}

{% block title %}{{metaTitle}}{% endblock %}

{% block content-top %}
    <h3>{{ Boats.0.club.name }} - Bådoversigt</h3>
    <hr />
    <div class="col-xs-12 col-md-3">
        <div class="padding-box">
            <div style="width:20px; height:2px; margin-bottom:3px; background:mediumspringgreen; display:inline-block;"></div>
            <p style="display:inline;">Ledig</p>
            &nbsp;|&nbsp;
            <div style="width:20px; height:2px; margin-bottom:3px; background:tomato; display:inline-block;"></div>
            <p style="display:inline;">Optaget</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="padding-box" style="text-align:center;">
            <select name="boat_type">
                <option value="">Alle båd typer</option>
                <option value="">Extra brede</option>
                <option value="">1 Personers</option>
                <option value="">2 Personers</option>
            </select>&nbsp;
            <button class="btn">Vis kun ledige</button>&nbsp;
            <button class="btn">Se bookinger</button>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="padding-box pull-right">
            <img src="/static/rokort/img/list-icon.png" style="width:25px; height:20px; cursor:pointer;" />
            Tabel&nbsp;
            <img src="/static/rokort/img/camera-icon.png" style="width:30px; height:30px; cursor:pointer;" />
            Billeder
        </div>
    </div>
    <div style="clear: both;"></div>
{% endblock %}

{% block content %}

    {% for Boat in Boats.all %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 boat-wrapper">
            <div class="padding-box">

                <div class="boat-image-wrapper">
                    <img src="{{ static }}/{{ Boat.image }}" />
                    <div class="padding-box">
                        <a href="{% url 'boat-edit' id=Boat.id %}">Rediger båd data</a>
                    </div>
                </div>

                <table class="table-general">
                    <tr>
                        <td>{{ Boat.name }}</td>
                        <td align="right"></td>
                    </tr>
                    <!-- {{ Boat.updated_at|date:"d M Y, H:i:s" }} -->
                </table>
            </div>
        </div>
    {% endfor %}

<div style="clear: both; margin-top:30px;"></div>
<br />

{% endblock %}