{% extends "rokort/base.html" %}
{% load static %}

{% block title %}{{metaTitle}}{% endblock %}

{% block content-top %}

    <div class="col-xs-12 col-md-9 text-xs-center text-sm-center text-md-left text-lg-left">
        <h3>{{ Boats.0.club.name }} - Bådoversigt</h3>
    </div>
    <div class="col-xs-12 col-md-3 text-xs-center text-sm-center text-md-right text-lg-right">
        <a href="#">+ Opret ny båd</a><br /><br />
    </div>
    <div class="clear"></div>

    <hr />

    <div class="make-static">
        <div class="col-xs-12 col-lg-3">
            <div class="padding-box text-xs-center text-sm-center text-md-center text-lg-left">
                <div class="availability-hint available"></div>
                <p style="display:inline;">Ledig nu</p>
                &nbsp;|&nbsp;
                <div class="availability-hint booked"></div>
                <p style="display:inline;">Optaget</p>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="padding-box text-xs-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Alle båd typer <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><input type="checkbox" value="all" id="all" checked /> <label for="all"> Vælg/fravælg alle</label></li>
                        <li><b>Kajakker</b></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Havkajak" id="Havkajak" checked /> <label for="Havkajak"> Havkajak (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Turkajak" id="Turkajak" checked /> <label for="Turkajak"> Turkajak (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Kapkajak" id="Kapkajak" checked /> <label for="Kapkajak"> Kapkajak (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Fritidskajak" id="Fritidskajak" checked /> <label for="Fritidskajak"> Fritidskajak (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Sit on Top kajak" id="Sit on Top kajak" checked /> <label for="Sit on Top kajak"> Sit on Top kajak (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Fiskekajak" id="Fiskekajak" checked /> <label for="Fiskekajak"> Fiskekajak (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Surfkajak" id="Surfkajak" checked /> <label for="Surfkajak"> Surfkajak (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Surf Ski kajak" id="Surf Ski kajak" checked /> <label for="Surf Ski kajak"> Surf Ski kajak (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Wave Ski kajak" id="Wave Ski kajak" checked /> <label for="Wave Ski kajak"> Wave Ski kajak (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="White Water kajak" id="White Water kajak" checked /> <label for="White Water kajak"> White Water kajak (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Slalom kajak" id="Slalom kajak" checked /> <label for="Slalom kajak"> Slalom kajak (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Polo-kajak" id="Polo-kajak" checked /> <label for="Polo-kajak"> Polo-kajak (7)</label></li>
                        <li><b>Kanoer</b></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Kano" id="Kano" checked /> <label for="Kano"> Kano (7)</label></li>
                        <li class="multi-select-list-item"><input type="checkbox" value="Foss kano" id="Foss kano" checked /> <label for="Foss kano"> Foss kano (7)</label></li>
                    </ul>
                </div>
                <button class="btn">Vis ledige</button>
                <button class="btn">Tidligere bookinger</button>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3">
            <div class="padding-box text-xs-center text-sm-center text-md-center text-lg-right">
                <img class="view-toggler" src="/static/rokort/img/list-icon.png" style="width:25px; height:17px; cursor:pointer;" data-show="boat-overview-table-template-wrapper" data-hide="boat-wrapper" />
                <img class="view-toggler" src="/static/rokort/img/camera-icon.png" style="width:30px; height:32px; cursor:pointer;" data-show="boat-wrapper" data-hide="boat-overview-table-template-wrapper" />
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
{% endblock %}

{% block content %}
<div class="boat-container">
    {% for Boat in Boats.all %}
        <div class="col-xs-12 col-sm-6 col-lg-4 boat-wrapper" data-image="{{ static }}/{{ Boat.image }}" data-name="{{ Boat.name }}" data-editurl="{% url 'boat-edit' id=Boat.id %}">
            <div class="padding-box">

                <div class="boat-image-wrapper">
                    <img src="{{ static }}/{{ Boat.image }}" />
                    <div class="padding-box">
                        <a href="{% url 'boat-edit' id=Boat.id %}">Rediger båd</a>
                    </div>
                </div>

                <table class="table-general">
                    <tr>
                        <td>{{ Boat.name }}</td>
                        <td align="right">
                            <a href="#">
                                <img src="/static/rokort/img/calender-icon.png" title="Book {{ Boat.name }}" style="width:25px; height:20px; vertical-align:top; cursor:pointer;" />
                            </a>
                        </td>
                    </tr>
                    <!-- {{ Boat.updated_at|date:"d M Y, H:i:s" }} -->
                </table>
            </div>
        </div>
    {% endfor %}
</div>

    <div class="col-xs-12 boat-overview-table-template-wrapper">
        <table class="table-general boat-overview-table-template">
            <tbody></tbody>
        </table>
    </div>

<div style="clear: both; margin-top:30px;"></div>
<br />

{% endblock %}